.project{
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  //border: solid #ddd;

  max-width: 80%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;

  .illustration{
    grid-column: 1;
    grid-row: 1/span 4;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;

    .videoDemonstration{
      height: 200px;
      aspect-ratio: 16/9;
      align-self: center;
      border-radius: 10px;

    }
  }


  h4 {
    margin: 10px 0 10px 10px;
  }

  h2{

  }

  .repositories{
    ul{
      li{
        a:hover{
          text-decoration: underline;
        }
      }
    }
  }

}