/*For desktop format*/
@media screen and (min-width: 800px) {
  .project{

    grid-template-columns: 35% 1fr;
    column-gap: 40px;
  }

  .illustration{
    margin: 0 !important;
    grid-row: 1/span 10;
  }
}

/* No less than 480px, no greater than 800px for the tablet format*/
@media (min-width:480px) and (max-width:800px) {
  .videoDemonstration{
    width: 80% !important;
  }

  .imageContainer{
    width: 60% !important;
  }
}

@keyframes slideAndAppearFromLeft {
  0%{
    transform: translateX(-50%);
    opacity: 0;
  }

  50%{
    opacity: 40%;
  }

  100%{
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes slideAndDisappearToRight {
  0%{
    transform: translateX(0);
    opacity: 100%;
  }

  50%{
    opacity: 60%;
  }

  100%{
    transform: translateX(50%);
    opacity: 0;
  }
}

.deactivated{
  animation: slideAndDisappearToRight 0.5s;
  opacity: 0;
}

.activated{
  animation: slideAndAppearFromLeft 0.5s;
  opacity: 100%;
}


.project{
  border-radius: 10px;
  display: grid;
  width: 80%;

  .illustration{
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px; //for the mobile display

    .videoDemonstration{
      //aspect-ratio: 16/9;
      align-self: center;
      border-radius: 10px;
      width: 100%;
      aspect-ratio: 16/9;
    }

    .imageContainer{
      overflow: scroll;
      border-radius: 10px;
      width: 100%;
      aspect-ratio: 1;

      img{
        width: 100%;

      }
    }
  }


  .repositoriesBox{
    margin-top: 20px;

    .repoTitle{
      font-weight: bold;
    }

    .repositoriesDisplay{
      margin-top: 5px;
      display: flex;
      justify-content: space-around;



      .oneRepositoryBox{

        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 5px;
          border-radius: 5px;
          border: solid #eeeeee;

          &:hover{
            background-color: white;
            border: solid #666666;
          }


          img{
            height: 3em;
          }

          p{
            font-weight: bold;
          }
        }

      }
    }
  }

  .technologiesBox {
    margin-top: 20px;
    border: solid #555555;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

    .technologieDisplay {
      display: flex;
      justify-content: space-around;
      margin-top: 5px;

      .oneTechBox {

        .techType {
          text-align: center;
          font-weight: bold;
        }

        .techName {
          background-color: #f5f5f5;
          border: solid #666666;
          border-radius: 10px;
          padding: 10px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &:hover{
            background-color: white;
          }

          .technoIcon {
            height: 2em;
            margin-bottom: 2px;
          }
        }
      }
    }
  }

  .accessWebsite{
    margin: 35px 0 0 0;
    text-align: center;

  }

}

$hoverBackgroundColor: #494949;


.prettyButton {
  border: solid black;
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $hoverBackgroundColor;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;

  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}