.project{
  border-radius: 10px;
  //border: solid #ddd;

  max-width: 80%;
  display: grid;
  grid-template-columns: 35% 1fr;
  column-gap: 40px;

  .illustration{
    grid-column: 1;
    grid-row: 1/span 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .videoDemonstration{
      //aspect-ratio: 16/9;
      align-self: center;
      border-radius: 10px;
      width: 100%;
      aspect-ratio: 16/9;
    }

    .imageContainer{
      overflow: scroll;
      border-radius: 10px;
      width: 100%;
      aspect-ratio: 1;

      img{
        width: 100%;

      }
    }
  }


  .repositoriesBox{
    margin-top: 20px;

    .repoTitle{
      font-weight: bold;
    }

    .repositoriesDisplay{
      margin-top: 5px;
      display: flex;
      justify-content: space-around;

      .oneRepositoryBox{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
          height: 3em;
        }

        p{
          font-weight: bold;
        }
      }
    }
  }

  .technologiesBox {
    margin-top: 20px;
    border: solid #555555;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;

    .technologieDisplay {
      display: flex;
      justify-content: space-around;
      margin-top: 5px;

      .oneTechBox {

        .techType {
          text-align: center;
          font-weight: bold;
        }

        .techName {
          background-color: white;
          border: solid #666666;
          border-radius: 10px;
          padding: 10px;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .technoIcon {
            height: 2em;
            margin-bottom: 2px;
          }
        }


      }

    }

  }

}